.search-input {
    max-width: 500px;
    margin: 20px auto;
    height: 60px;
}
  
  .btn-close {
    background: none;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
  }

  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* Custom Navbar Link Styles */
.nav-link {
    color: black !important; /* Ensures text color is black */
    width: 120px; /* Adjust based on your preference */
    text-align: center; /* Centers the text within the link */
}

.nav-item.active .nav-link {
    background-color: #FFCC00; /* Active link background */
    color: black !important; /* Text color for active link */
    font-weight: bold;
    border-radius: 8px;
}

.fut-modal-background {
    height: 800px;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: contain; /* Cover the entire size of the container */
    flex: 1;
    display: flex;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinner-custom {
    display: inline-block;
    animation: spin 1s linear infinite; /* Adjust timing as needed */
    font-size: 50px; /* Adjust size as needed */
}

.player-details-overlay {
    color: white;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;

    .photo {
        display: flex;
        flex: 1;
        height: 50%;
        align-items: center;
        justify-content: center;
    }

    .details {
        display: flex;
        flex: 1;
        height: 50%;
        flex-direction: column;
    }

    .name {
        height: 30%;
    }

    .other {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
        }
    }

    h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }

    p {
        font-size: 20px;
        font-weight: bold;
    }

    div {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}
